<!DOCTYPE html>
<html ng-app="bestRestaurants">
<head>
  <title>Best Restaurants in Town</title>
  <script src="lib/angular.js"></script>
  <script src="app.js"></script>
  <script src="js/BestRestaurantsController.js"></script>
  <script src="js/jquery-1.11.3.min.js"></script>
  <link rel="stylesheet" href="css/bootstrap.min.css">
  <link rel="stylesheet" href="css/styles.css">
</head>
<body>
  <div class="container" ng-controller="RestaurantsCtrl">
    <div class="row text-center">
      <div class="col-md-12">
        <h1>really good restaurants for people who eat food</h1>
      </div>
    </div>
    <div class="row well text-center">
      <div class="col-md-12">
        <h4>Search Restaurants</h4>
        <form class="form-inline" role="form">
          <div class="form-group">
            <span id="filter">
              <input id="name-field" ng-model="query.name" type="text" class="form-control" placeholder="Search Name">
              <input id="type-field" ng-model="query.type" type="text" class="form-control" placeholder="Search Type">
              <input id="price-field" ng-model="query.price" type="text" class="form-control" placeholder="Search Price">
            </span>
          </div>
          <!-- <button type="submit" class="btn btn-danger btn-sm">Submit</button> -->
        </form>
      </div>
    </div>
    <div class="row well">
      <div class="col-md-2"></div>
      <div class="col-md-4">
        <h2 class="text-center">Restaurant List</h2>
        <ul>
          <li ng-repeat="item in restaurants | filter:query">
            <strong>Name:</strong> {{item.name}}<br>
            <strong>Type of food:</strong> <br><em><span ng-repeat="types in item.type">{{types}}<br></span></em>
            <span ng-click="editing = true" ng-hide="editing">
              <strong>Price point:</strong> {{item.price}}
            </span>
            <span class="form-group" ng-show="editing" ng-submit="editing = false">
              <form class="form-inline" role="form">
                <select ng-model="item.price" class="form-control" required/>
                <option value="$">$</option>
                <option value="$$">$$</option>
                <option value="$$$">$$$</option>
                <option value="$$$$">$$$$</option>
              </select>
              <button class="btn btn-info btn-sm" type="submit">Update</button>
            </form>
          </span>
          <br><a ng-click="deleteRestaurant(item)"><img src="img/trash_can.png"/></a>
        </li>
      </ul>
    </div>
    <div class="col-md-4">
      <h2 class="text-center">New Restaurant</h2>
      <form ng-submit="addRestaurant()" class="form-inline" role="form">
        <div class="form-group">
          <label for="restaurantName">Name</label>
          <input type="text" ng-model="restaurantName" class="form-control" placeholder="Enter name">
        </div><br><br>
        <div class="form-group">
          <label for="restaurantType">Type of food</label>
          <select ng-model="restaurantType" multiple class="form-control">
            <option value="American">American</option>
            <option value="Italian">Italian</option>
            <option value="Mexican">Mexican</option>
            <option value="Chinese">Chinese</option>
            <option value="French">French</option>
          </select>
        </div><br><br>
        <div class="form-group">
          <label for="restaurantPrice">Price Point</label>
          <select ng-model="restaurantPrice" class="form-control">
            <option value="$">$</option>
            <option value="$$">$$</option>
            <option value="$$$">$$$</option>
            <option value="$$$$">$$$$</option>
          </select>
        </div>
        <button type="submit"><img width="25px" height="*" src="img/tray.jpg"></button>
      </form>
    </div>
    <div class="col-md-2"></div>
  </div>
</div>
</body>
</html>
